ul .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}

ul li {
    margin: 0.5em 0;
}

.main-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    color: #000000;
    padding: 0.75em;
    cursor: pointer;
}

.plusminus {
    font-size: 14px;
    font-weight: bold;
    color: #585858;
    width: 20px;
    height: 100%;
}

.main-content-page aside .section-aside .inner {
    padding: 10px !important;
}

.heading {
    margin-bottom: 0 !important;
}